<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="admin">
          <a class="nav-link" >Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="signout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container"><!-- Navigation -->
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li>
            <form>
              <div class="form-row align-items-center" style="margin-left: 0.3em">
                <div class="col-auto">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fa fa-search"></i></div>
                    </div>
                    <input type="text" class="form-control" name="searchCode"
                           (input)="onSearchChange($event.target.value)" placeholder="Find Code">
                  </div>
                </div>
                <button class="btn btn-primary" (click)="createRobot()">New Robot</button>
              </div>
            </form>
          </li>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>All Robots</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <li class="nav-item" *ngFor="let code of codes" (click)="selectCode(code)">
            <a class="nav-link">
              <h6 [ngClass]="{'active-code': code == selectedCode}">{{code}}</h6>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <robot-form *ngIf="selectedRobot" [robot]="selectedRobot" [showClose]="false" (closed)="close()" (saved)="save()"></robot-form>
    </main>
  </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark" style="margin-top: 1em">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; RBC 2018</p>
  </div>
  <!-- /.container -->
</footer>
