<form>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="robotName">Name</label>
        <input type="text" class="form-control" id="robotName" required
               name="robotName" [(ngModel)]="robot.name" #robotName="ngModel">
      </div>
      <div *ngIf="robotName.invalid && (robotName.dirty || robotName.touched)"
           class="alert alert-danger">
        <div *ngIf="robotName.errors.required">
          Please give a valid name
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="robotCode">Code</label>
        <input type="text" class="form-control" id="robotCode" required
               name="robotCode" [(ngModel)]="robot.code" #robotCode="ngModel">
      </div>
      <div *ngIf="robotCode.invalid && (robotCode.dirty || robotCode.touched)"
           class="alert alert-danger">
        <div *ngIf="robotCode.errors.required">
          Please give a valid code
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="robotQuantity">Quantity</label>
        <input type="number" class="form-control" id="robotQuantity" required
               name="robotQuantity" [(ngModel)]="robot.quantity" #robotQuantity="ngModel">
      </div>
      <div *ngIf="robotQuantity.invalid && (robotQuantity.dirty || robotQuantity.touched)"
           class="alert alert-danger">
        <div *ngIf="robotQuantity.errors.required">
          Please give a valid quantity
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="robotPrice">Price</label>
        <input type="number" class="form-control" id="robotPrice" required
               name="robotPrice" [(ngModel)]="robot.price" #robotPrice="ngModel">
      </div>
      <div *ngIf="robotPrice.invalid && (robotPrice.dirty || robotPrice.touched)"
           class="alert alert-danger">
        <div *ngIf="robotPrice.errors.required">
          Please give a valid price
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="robotBrand">Brand</label>
        <input type="text" class="form-control" id="robotBrand" required
               name="robotBrand" [(ngModel)]="robot.brand" #robotBrand="ngModel">
      </div>
      <div *ngIf="robotBrand.invalid && (robotBrand.dirty || robotBrand.touched)"
           class="alert alert-danger">
        <div *ngIf="robotBrand.errors.required">
          Please give a valid brand name
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="robotCategory">Category</label>
        <select class="form-control" id="robotCategory" name="robotCategory"
                [(ngModel)]="robot.category">
          <option *ngFor="let category of categories()">{{category}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="robotFund">Robot Functions</label>
        <select multiple class="form-control"
                [(ngModel)]="robot.functions" id="robotFund" name="robotFund">
          <option *ngFor="let func of functions()" value="{{func}}">{{func}}</option>
        </select>
      </div>
    </div>
    <div class="col-12">
      <div style="float: left;margin-right: 1em" *ngFor="let func of robot.functions"><span class="badge badge-default">{{func}}</span></div>
    </div>
  </div>
  <div class="row" style="margin-top: 1em">
    <div class="col-12">
      <div class="form-group">
        <label for="robotDescription">Description</label>
        <textarea class="form-control" id="robotDescription" rows="3" required
                  name="robotDescription" [(ngModel)]="robot.description">
            </textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img *ngIf="robot.image" class="card-img-top" [src]="imagePath(robot.image)">
    </div>
    <div class="col-8">
      <div class="form-group">
        <label for="robotImages">Select an image</label>
        <select class="form-control" [(ngModel)]="robot.image" id="robotImages" name="robotImages" size="8">
          <option *ngFor="let img of images" value="{{img}}">{{img}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-2">
      <button class="btn btn-md btn-primary" (click)="save()" [disabled]="!change()">Save</button>
    </div>
    <div class="col-2" *ngIf="showClose">
      <button class="btn btn-md btn-dark" (click)="close()">Close</button>
    </div>
  </div>
</form>
