body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

a {
  cursor: pointer;
}

.help-block {
  font-size: 12px;
}

.navbar {
  font-size: 2em;
}

.search-results {
  height: 100%;
  overflow: scroll;
}

.robot-description {
  text-align: justify;
  text-justify: inter-word;
}
